/* STYLSHEET FOR VRSTC SITE by Afi C. Clark */

/* KEY

text:
dark blue heading: #34567a
gray body text:  #7d868d
*/


/* GENERAL STYLE / RESET
-------------------------------------------------------------------------------- */

/* RESET
--------------------------- */

* {
  vertical-align: baseline;
  padding: 0;
  outline: 0;
  border: 0;
  margin: 0px;
  font-size: 100%;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
  background: transparent;
  box-sizing: border-box;
  overflow: auto;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

html, {
  height: 100%;
}

span {
  color: inherit;
  font: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0
}

/* GLOBAL STYLING
--------------------------- */

.container {
  max-width: 1400px;
  margin: 0 auto;
  position: relative;
}

h2 {
  font-size: 30px;
}

a {
  color: #5c8dbd;
}
.drop-cap {
  float: left;
  font-size: 67px;
  line-height: 67px;
  color: #5e8cbd;
  display: inline-block;
  margin: -8px 5px 0px 0;
}

.wave-icon {
  margin-bottom: 35px;
  display: block;
}

.hero-text {
  font-size: 20px;
  line-height: 30px;
  color: #7d868d;
}

.button  {
  padding: 20px 0;
  border-radius: 30px;
  border: 1px solid #5d8bbc;
  color: #5d8bbc;
  font-size: 12px;
  width: 265px;
}

.button:hover {
  cursor: pointer;
  background: #5d8bbc;
  color: #fff;
}

/* HOME PAGE
-------------------------------------------------------------------------------- */

/* PAGE TITLE AND IMAGE
--------------------------- */

.splash-img {
  height: 800px;
  background: #5381ac;
  color: #fff;
  position: relative; /* provides anchor for calendar-container */
}

.title-container {
  margin: 215px auto 185px;
  text-align: center;
}

.splash-title {
  font-size: 40px;
  margin: 0 0 35px;
}

.sub-title {
  font-size: 12px;
  text-transform: uppercase;
  display: inline-block;
}

.splash-img .wave-icon {
   display: inline-block;
   margin: 0;
}

.spacer {
  height: 390px;
  background: #dce5eb;
}

/* CALENDAR
--------------------------- */

.calendar-container {
  height: 600px;
  width: 90%;
  max-width: 1260px;
  background: #fff;
  position: absolute;
  top:500px;
  left: 50%;
  margin-left: -45%;
  z-index: 1000;
  box-shadow: 0 0 5px 10px rgba(0,0,0, .02);
}

/* ABOUT
--------------------------- */

.about {
  width: 40%;
  border-right: 2px solid #cfd6dc;
  background: #fff;
  padding: 80px 70px;
  height: 100%;
  color: #7d868d;
}

.about h2 {
  color: #34567a;
  margin: 0 0 35px;
}

/* CLUB HAPPENINGS
--------------------------- */

.club-happenings {
  background: #5e8cbd;
  padding-top: 90px;
  padding-bottom: 90px;
  padding-left: 5%;
  padding-right: 5%;
}

.ch-title-container {
  color: #fff;
  height: 40px;
}

.ch-title {
  display: inline-block;
  line-height: 40px;
}

.pc-button-title,
.pc-button {
  float: right;
}

.pc-button-title {
  width: 137px;
  font-size: 12px;
  font-style: italic;
  text-align: right;
  line-height: 15px;
  padding-top: 8px;
}

.ch-content {
  height: 300px;
}

/* CLUB ACTIVITIES
--------------------------- */

.ca-info {
  width: 72%;
  height: 100%;
  display: inline-block;
  padding-top: 90px;
  padding-bottom: 90px;
  padding-left: 5%;
  padding-right: 10%;
  border-right: 2px solid #cfd6dc;
}

.img-container {
  display: inline-block;
}

.img-fpo {
  background: #ccc;
  height: 302px;
  width: 280px;
  box-shadow: -15px -15px 0 #ecedf1;
  margin: 15px 0 0 15px;
}

.img-title  {
  width: 200px;
  text-align: center;
  margin: 30px auto 0;
  font-size: 12px;
  font-style: italic;
  line-height: 15px;
}

.ca-info-container {
  width: 50%;
  display: inline-block;
  float: right;
  padding-top: 30px;
}

.ca-title {
  margin-bottom: 35px;
  color: #34567a;
}

.quick-links {
  width: 28%;
  height: 100%;
  text-align: center;
  float: right;
  padding: 160px 0 0;
}

.ql-button {
  display: inline-block;
  margin-bottom: 13px;
}

.quick-links p {
  margin-bottom: 30px;
  color: #7d868d  ;
  font-size: 12px;
}
