/* RESPONSIVE STYLE FOR VRSTC SITE by Afi C. Clark */


/* GENERAL STYLE
-------------------------------------------------------------------------------- */

@media (max-width: 650px) {
  .three-sub-nav .sub-nav-item { /* keeps dropdowns w/ three links inline */
    padding: 8px 20px 8px 18px;
  }

  .four-sub-nav .sub-nav-item { /* Keeps dropdowns w/ four links inline */
    padding: 8px 6px 8px 4px;
  }
}



/* HOME PAGE
-------------------------------------------------------------------------------- */


@media (max-width: 1050px) {
  .about {
    width: 100%;
    border-bottom: 2px solid #cfd6dc;
    border-right: none;
  }

  .calendar-plugin {
    width: 100%;
  }

  .spacer {
    height: 870px; /* this will need to change based on final height of calendar plugin */
  }
}

@media (max-width: 850px) {
  .ca-info {
    width: 60%;
  }

  .quick-links {
    width: 38%;
  }

  .img-container {
    display: none;
  }

  .ca-info-container {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .calendar-container {
    position: relative;
    width: 100%;
    margin: 0;
    box-shadow: none;
    top: 0;
    left: 0;
  }

  .about {
    padding-left: 10%;
    padding-right: 10%;
  }

  .spacer {
    display: none;
  }

  .ca-info {
    padding-right: 5%;
    width: 100%;
    border-right: none;
    border-bottom: 2px solid #cfd6dc;
  }

  .quick-links {
    width: 100%;
    padding-top: 90px;
    padding-bottom: 90px;
    padding-left: 5%;
    padding-right: 5%;
  }

  .pc-button-container {
    float: none;
    display: block;
  }

  .pc-button-title {
    text-align: left;
  }
}

/* SWIM TEAM PAGE
-------------------------------------------------------------------------------- */

@media (max-width: 800px) {
  .swim-team-info {
    width: 100%;
    float: none;
    margin:0;
  }

  .coach-photo-container {
    width: 100%;
    float: none;
    margin: 60px auto;
    display: block;
  }

  .facebook-embed,
  .practice-schedule {
    width: 100%;
  }

  .facebook-embed {
    display: block;
    margin: 0 auto 60px;
    float: none;
  }

  .swim-team-records,
  .swim-team-forms   {
    padding-left: 20px;
  }

}

/* SWIM LESSONS PAGE
-------------------------------------------------------------------------------- */

@media (max-width: 1000px) {
  .swim-lessons-info {
    width: 100%;
    float: none;
  }

  .lesson-sessions {
    width: 75%;
    float: none;
    margin: 60px auto 0;
  }
}

@media (max-width: 825px) {
  .registration-deadlines th {
    font-size: 12px;
  }

  .registration-deadlines td {
    font-size: 12px;
  }
}

@media (max-width: 825px) {
  .registration-deadlines th,
  .registration-deadlines td {
    font-size: 12px;
  }
}

@media (max-width: 614px) {
  .registration-deadlines th,
  .registration-deadlines td {
    padding-left: 1%;
    padding-right: 1%;
    font-size: 9px;
  }
}

@media (max-width: 680px) {
  .left-col,
  .right-col {
    width: 100%;
    float: none;
  }

  .private-lessons p {
    width: 100%;
  }
}

/* CLUB RULES PAGE
-------------------------------------------------------------------------------- */

@media (max-width: 680px) {
  .view-all-button {
    width: 50%;
  }
}
